@import 'normalize';

$blue: #2196F3;
$light-blue: #64B5F6;
$dark-blue: #1565C0;
$accent-color: #FF80AB
;

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  z-index: 1;
}

label {
  font-size: 1.1em;
}

textarea {
  border-radius: 5px;
  padding: 5px;
  min-width: 240px;
  border: 1px solid $dark-blue;
  font-family: 'Roboto Condensed', sans-serif;
}

.signin-div {
  width: 300px;
  margin: auto;
  text-align: center;

  label {
    display: block;
    margin-top: 10px;
  }
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  min-width: 240px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid $dark-blue;
  font-family: 'Roboto Condensed', sans-serif;
}

.pay-buttons {
  display: flex;
  justify-content: space-between;
}
.place-order {
  padding: 4px;
  width: 100px;
  border: 1px solid $dark-blue;
  background-color: #fff;
  color: $blue;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.pay-now,
.signin-div button {
  padding: 8px;
  border: 1px solid $dark-blue;
  background-color: #fff;
  color: $blue;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 5px;
  cursor: pointer;
}

header button,
header a {
  padding: 8px;
  border: 1px solid $dark-blue;
  background-color: #fff;
  color: $blue;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.site-wrapper {
  max-width: 1024px;
  min-height: 768px;
  padding: 5px;
}

a,
button,
td {
  font-family: 'Roboto Condensed', sans-serif;
}

a:active,
button:active {
  transform: scale(0.9, 0.9);
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  h2 {
    text-align: center;
  }
}

.warning {
  color: red;
}

.single-order {
  border: 2px solid $dark-blue;
  margin-bottom: 8px;
  border-radius: 5px;
}

.single-order-bottom {
  padding: 5px;

  div {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.completed {
  opacity: .6;
}

.menu {
  max-width: 500px;
  min-width: 300px;
}

.sidebar {
  width: 250px;
  min-height: 200px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(0,0,0,.3);

  input {
    margin-bottom: 5px;
  }
}

.sidebar-items {
  min-height: 250px;
  max-height: 400px;
  overflow-y: scroll;
}

.orders {
  width: 300px;
  max-height: 600px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(0,0,0,.3);
}

.order-sidebar {
  width: 250px;
  max-height: 500px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(0,0,0,.3);
}

.background {
  background: rgba(0,0,0,.5);
}

.bottom-nav {
  margin-top: 15px;
}


.menu-key-container {
  padding: 0 5px;
  p {
    font-weight: bold;
    text-align: center;
    margin-bottom: .5em;
    color: rgba(0,0,0,.3);
  }
}


.menu-item,
.bottom-nav button {
  width: 80px;
  height: 50px;
  padding: 10px 12px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  color: $dark-blue;
  background-color: #FFF;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  cursor: pointer;
}

.items-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px;
  margin-bottom: 8px;

  a {
    min-width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 1.15em;
    border-bottom: 2px solid $dark-blue;
  }
}


a.active-link {
  border-bottom: 2px solid $accent-color;
}

.special-button {
  border-width: 2px;
}

.active-button {
  border: 3px solid red;
}

.item-group {
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 5px;
  margin-right: 8px;
  
  h3 {
    text-align: center;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard-col {
  width: 300px;
}

.create-item {
  padding: 5px;
  border: 2px solid $dark-blue;
  border-radius: 5px;
}




.item-display {
  padding: 5px;
  margin-bottom: 5px;
  background-color: $light-blue;
  color: rgba(0,0,0,.7);
  
  tr {
    min-width: 75px;
    
      td {
      padding-right: 5px;
      padding-bottom: 5px;
      
      button {
        border-radius: 5px;
        box-shadow: none;
        background-color: inherit;
        border: 1px solid rgba(0,0,0,.5);
        color: inherit;
        font-size: 14px;
        cursor: pointer;
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }
}

.delivery {
  font-size: .85em;
  padding-bottom: 5px;
  border-bottom : 1px solid $dark-blue;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  label {
    display: block;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
  }
}

.item-title {
  font-size: 1.15em;
}

.total {
  padding: 10px;
  
  h4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  button {
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid $dark-blue;
    background-color: #fff;
    color: $dark-blue;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }

  .fa {
    color: rgba(0,0,0,0.4);
  }
}

input[type="text"].total-offset {
  min-width: 50px;
  max-width: 75px;
  padding: 3px;
}

.text-input {
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 25px;
}

@media screen and (max-width: 750px) {
  .sidebar,
  .order-sidebar {
    margin-top: 25px;
  }
}
